@import "../theme.css";

/* ///////////////LOGO NAME/////////////// */
.logoName{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text_light);
}
.logoName > svg{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    color: var(--secondary);
}

/* ///////////////FORM SCREENS/////////////// */
.formScreen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background_dark);
    color: var(--text_light);
}

.formScreen > *{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}
.formScreen > div:first-child > *{
    /* border: 1px solid; */
    /* transform: scale(1.1); */
}
.formScreen > .form {
    flex-direction: column;
    border-left: 2px solid var(--dark_tones_1);
    
    
}

.formScreen > .form form{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    gap: 10px;
    margin-bottom: 20px;
}

.formScreen > .form form input{
    padding: 10px;
    background-color: var(--background_dark);
    outline: none;
    border: 2px solid var(--dark_tones_1);
    border-radius: 5px;

}
.formScreen > .form form .radioIP{
    display: flex;
    align-items: center;
    gap: 5px;
}
.formScreen > .form form .radioIP input{
    border: 1px solid red;
    width: 10px;
    height: 10px;
}
.formScreen > .form form .button_default{
    margin-top: 10px;
}
.button_default{
    padding: 10px;
    background-color: var(--secondary);
    outline: none;
    border: none;
    border-radius: 5px;
}




/* //////////////////////////////DASHBOARD////////////////////////////// */

/* //////////HEADER//////////// */

header select{
    display: inline-block;
    /* border: 1px solid var(--dark_tones_1); */
    /* padding: 6px 10px; */
    background-color: var(--background_dark);
    color: var(--text_light);
    outline: none;
    border-radius: 5px;
}
/* searchbar */
.searchBarContainer{
    /* padding: 10px; */
    border: 2px solid var(--dark_tones_1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
}
.searchBarContainer > svg{
    color: var(--text_gray);
    /* border: 1px solid; */
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.searchBarContainer input{
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--background_dark);
    padding: 10px;
}
/* create ticket button */
.createTicketBtn{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--text_light);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}
/* Top Bar */
.headerBars{
    border-bottom: 1px solid var(--dark_tones_1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    height: 50px;
    overflow: hidden;
}
.headerBars div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.topBar #userRole{
    border: 1px solid var(--dark_tones_1);
    display: inline-block;
    padding: 6px 10px;
    border-radius: 5px;

}
.topBar  .userProfile{
    height: 100%;
    /* width: ; */
    font-weight: bold;
}
.topBar  .userProfile img{
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
}
.topBar  .bell{
    width: 25px;
    height: 25px;
}
/* /////////////////////////////////TICKET CARD/////////////////////////////////// */
.ticketCard{
    border: 1px solid var(--dark_tones_1);
    padding: 10px; 
    display: flex;   
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    color: var(--text_light);
    text-decoration: none;
}
.ticketCard > div{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    width: 100%;
    gap: 5px;
}
.ticketCard > div:nth-child(2){
    align-items: end;
}

.ticketCard h2{
    text-transform: capitalize;
    /* font-weight: bold; */
    /* color: var(--primary); */
}

.ticketCard .tags span{
    font-size: 0.75rem;
    border: 1px solid var(--dark_tones_1);
    padding: 3px 11px;
    border-radius: 50px;
    color: var(--text_gray);
}
.ticketCard span{
    font-weight: bold;
}
.status{
    display: flex;
    align-items: center;
    gap: 5px;
}
.status > span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: tomato;
}
.assignedTo{
    font-size: 0.9rem;
}
.time{
    font-size: 0.8rem;
}