@import "../../theme.css";

main{
    background-color: var(--background_dark);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--text_light);
}

.cardsContainer{
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
}

/* //////////////Create ticket//////////////// */
.createTicketContainer{
    display: grid;
    place-items: center;
    height: calc(100vh - 100px);
    width: 100%; 
    overflow: auto;  
}
.createTicketContainer form{
    border: 1px solid var(--text_gray);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 20px;

}

.createTicketContainer form input,
.createTicketContainer form textarea{
    background-color: var(--background_dark);
    padding: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: var(--text_light);
    border: 1px solid var(--dark_tones_1);
    outline: none;
}
.createTicketContainer form textarea{
    height: calc(100vh - 450px);
    outline: none;
}
.createTicketContainer form button{
    background-color: var(--secondary);
    padding: 10px;
    width: 100%;
    border-radius:10px ;
    border: none;
    outline: none;
}

/* ///////////////Display ticket/////////////// */

.ticketDisplayContainer{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100% - 100px);
    justify-content: space-between;
}
.messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.messages > *{
    padding: 10px;
}

.messages > .sent{
    margin-left: 20px;
    background-color: var(--accent);
    border-radius: 15px 15px 0px 15px;
}
.messages > .reply{
    margin-right: 10px;
    background-color: var(--hue);
    border-radius: 15px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ticketDisplayContainer span{
    font-weight: bold;
}

.bottomBar .chat{
    display: flex;
    align-items: center;

}
.bottomBar .chat svg{
    width: 40px;
    height: 40px;
    color: var(--secondary);
    padding: 5px;
}
.bottomBar .chat input{
    width: calc(100% - 50px);
    padding: 10px;
    border: 1px solid var(--dark_tones_1);
}

.bottomBar > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}