@import "../../theme.css";

main{
    background-color: var(--background_dark);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--text_light);
}

.cardsContainer{
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
}